body {
  background: #fdeae6;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

.nav {
  text-align: center;
  padding: 15px;
}

.header {
  background: #ffc1b8;
  text-align: center;
  padding: 30px;
}

.header h1 {
  color: #8a1c6b;
  text-align: center;
}

.header p {
  color: #8a1c6b;
  text-align: center;
}

.section {
  background: #e8cfc7;
  margin: 20px;
  padding: 15px;
  text-align: center;
}
.hero-image {
  width: 90px;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
}