body {
  background: #fdeae6;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

.nav {
  text-align: center;
  padding: 15px;
}

.header {
  background: #ffc1b8;
  text-align: center;
  padding: 30px;
}

.header h1 {
  color: #8a1c6b;
  text-align: center;
}

.header p {
  color: #8a1c6b;
  text-align: center;
}

.section {
  background: #e8cfc7;
  margin: 20px;
  padding: 15px;
  text-align: center;
}
.hero-image {
  width: 90px;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
}

form {
  background-color: #f9f7f1; 
  padding: 20px; 
  border-radius: 10px; 
  border: 1px solid #ccc; 
  width: 75%; 
  margin: 0 auto; 
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

label {
  display: block; 
  margin-top: 15px; 
  font-weight: bold;
}

input[type="text"]
input[type="email"]
input[type="radio"]
input[type="checkbox"]

input[type="text"],
    input[type="email"],
    select {
        width: 100%;
        margin: 0 auto;
        padding: 8px;
        margin-top: 5px;
        font-size: 1rem;
        border: 1px solid #aaa;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button {
  margin-top: 20px;
  background-color: #5a3e36;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #7a564f;
}