body {
  margin: 0;
  font-family: Arial;
  text-align: center;
}

.nav {
    text-align: center;
}

.header {
  text-align: center;
  padding: 30px;
}

.header h1 {
  text-align: center;
}

.header p {
  text-align: center;
}

.section {
  margin: 20px;
  padding: 15px;
}
